#career {
  width: 100%;
  height: 100vh;
  background: var(--dark-grey);
  padding-top: 50px;
  box-sizing: border-box;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.career_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  box-sizing: border-box;

  .workshops {
    overflow: hidden;
    margin-top: -60px;

    h2 {
      color: var(--accent-color);
      font-size: 28px;
      text-align: center;
    }
    p {
      color: var(--light-grey);
      font-size: 20px;

      img {
        width: 15px;
        height: 15px;
        margin-left: 10px;
      }
    }
    .list {
      display: flex;
      align-items: start;
      justify-content: center;

      .section:nth-child(1) {
        margin-right: 60px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #career {
    zoom: 0.75;
    height: fit-content;
  }

  .career_container {
    flex-direction: column;
    margin-top: 60px;
    padding: 0;

    .path {
      margin-bottom: 50px;
    }

    .career_item {
      margin-bottom: 40px;
    }

    .career_item .text_section p {
      font-size: 18px;
    }
  }
}
