/* Contact */

#contact {
    width: 100%;
    height: 100vh;
    background: var(--dark-grey);
    padding-top: 80px;
    box-sizing: border-box;
    overflow: hidden;
}

.contact_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_container form .input {
    color: var(--light-grey);
    font-size: 18px;
    border: 1px solid #707070;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 40px;
    outline: none;
}

.contact_container form input {
    width: 492px;
    height: 49px;
}

.contact_container form textarea {
    width: 492px;
    height: 210px;
}

.contact_container .info_text {
    display: block;
    margin-top: -10px;
    font-size: 18px;
    margin-bottom: -15px;
}

.contact_container form .send_button {
    width: 172px;
    height: 43px;
    background: var(--coral);
    color: var(--white);
    font-size: 21.5px;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    margin-left: 65%;
    cursor: pointer;
    outline: none;
}