/* Home */

#home {
    width: 100%;
    height: 100vh;
    background: var(--dark-grey);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 50px;
}

.home_container {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 100px;
}

.home_container h1 {
    color: var(--white);
    font-size: 52px;
}

.home_container h1 span {
    color: var(--yellow);
}

.home_container img {
    width: 320px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contact_button {
    width: 170px;
    height: 45px;
    color: var(--white);
    background: var(--yellow);
    font-size: 21px;
    border: none;
    border-radius: 25px;
    box-shadow: none;
}

#home .icon_container {
    display: flex;
    margin-top: 40px;
    width: 173px;
    justify-content: space-between;
}

#home .icon_container .icon {
    width: 45px;
    height: 45px;
}