/* Home */

#home {
  width: 100%;
  height: 100vh;
  background: var(--dark-grey);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 50px;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  overflow: hidden;

  .wrapper {
    padding-left: 150px;
  }
}

.home_container {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 100px;
  overflow: visible;
  position: relative;

  h1 {
    color: var(--white);
    font-size: 60px;
    font-family: var(--Glitch);
    letter-spacing: 5px;
    line-height: 1.3;
    text-shadow: 0px 5px 8px black;

    span {
      color: var(--accent-color);
      font-family: Glitch;
      letter-spacing: 5px;
      text-shadow: 0px 5px 8px rgb(0, 0, 0);
    }
  }

  .profile_image {
    height: 100vh;
    position: absolute;
    right: 70px;
    top: -70px;
    filter: drop-shadow(-10px 10px 35px black);
  }

  .shape {
    height: 100vh;
    position: absolute;
    right: 40px;
    top: -50px;
    z-index: -1;
  }

  .smoke {
    height: 100vh;
    position: absolute;
    left: 0;
    top: -300px;
    z-index: -1;
    animation: smoke 1.2s linear forwards;
  }
}

// @mixin typingSection($left-offset) {
//   .home_container h1 span {
//     color: var(--accent-color);

//     &::after {
//       content: "";
//       display: block;
//       width: 30%;
//       height: 60px;
//       background: var(--dark-grey);
//       border-left: 3px solid var(--accent-color);
//       position: absolute;
//       top: 23%;
//       left: $left-offset;
//       animation: typing 1s 1s steps(10) forwards,
//         pulsing 0.7s 3s linear alternate infinite;
//     }
//   }

//   @keyframes typing {
//     100% {
//       left: calc($left-offset + 32%);
//       margin: 0 -35px 0 -35px;
//     }
//   }
// }

// @keyframes pulsing {
//   100% {
//     opacity: 0;
//   }
// }

// @include typingSection($left-offset: 12%);

.contact_button {
  width: 170px;
  height: 45px;
  color: var(--white);
  background: transparent;
  border: 2px solid var(--accent-color);
  font-size: 22px;
  font-weight: 700;
  box-shadow: none;
  transform: skewX(-30deg);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide 1s ease;

  span {
    display: block;
    font-family: var(--Glitch);
    transform: skewX(30deg);
  }

  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 100%;
    background: var(--accent-color);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    transition: 0.5s;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

#home .icon_container {
  display: flex;
  margin-top: 40px;
  width: 225px;
  justify-content: space-between;

  a {
    overflow: hidden;
    width: 45px;
    height: 45px;
    box-shadow: 0px 0px 10px 5px var(--accent-color);
    border-radius: 50%;
    transition: 0.2s;

    &:hover {
      transform: translateY(5px);
    }
  }
}

#home .icon_container .icon {
  width: 100%;
  height: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(150px) skewX(-30deg);
  }

  100% {
    transform: translateX(0px) skewX(-30deg);
  }
}

@keyframes smoke {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(100vw);
    display: none;
  }
}

@media screen and (max-width: 640px) {
  // @include typingSection($left-offset: 44%);

  #home {
    height: 100%;
    zoom: 0.75;

    .wrapper {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .home_container {
    height: unset;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 40px;

    h1 {
      text-align: center;
      font-size: 35px;

      span:after {
        height: 32px;
      }
    }
  }
}
