/* Navbar */

.MuiPaper-root {
  height: 12%;
  background: transparent !important;
  box-shadow: none !important;
  position: fixed !important;
  justify-content: center;
}

.navbar_fadeOut {
  animation: fadeOut 0.3s linear forwards;
}

.navbar_fadeIn {
  animation: fadeIn 0.3s linear forwards;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px 0 50px;

  .navbar_link {
    color: var(--light-grey);
    font-size: 25px;
    font-family: var(--Glitch2);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      left: 0px;
      bottom: 0;
      display: block;
      background: var(--accent-color);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  .options-section {
    display: flex;
    height: 100%;
    align-self: center;
  }

  img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
  }
}

.color-picker {
  background: var(--navbar);
  color: var(--white);
  margin-top: 30px;
  z-index: 9999;
  padding: 20px;
  border-radius: 0px 0px 15px 15px;

  input {
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 640px) {
  .MuiPaper-root {
    height: 70px;
  }

  .MuiToolbar-gutters {
    padding-left: 0 !important;
    padding-right: 8px !important;
  }

  .color-picker {
    top: -10px !important;
    padding: 15px;

    input {
      width: 35px;
      height: 35px;
    }
  }

  .navbar {
    padding: 0;
    justify-content: center;

    .navbar_link {
      margin-left: 10px;
      font-size: 0.8rem;
    }

    img {
      width: 17px;
      height: 17px;
      margin-left: 16px;
    }
  }
}
