/* Skills */

#skills {
  width: 100%;
  height: 100vh;
  background: var(--dark-grey);
  padding-top: 50px;
  box-sizing: border-box;
  overflow: auto;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.skills_container {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.skill_row {
  overflow: hidden;
}

/* Skill Indicator */

.indicator {
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}

.indicator_label {
  width: 120px;
  text-align: right;
  margin-right: 18px;
}

.indicator_label p {
  color: var(--light-grey);
  font-size: 21px;
  font-weight: 500;
}

.indicator_line {
  width: 550px;
  height: 18px;
  background: var(--indicator-bg);
  border-radius: 20px;
  overflow: hidden;
}

.indicator_line span {
  height: 100%;
  display: block;
  background: var(--accent-color);
  border-radius: 20px;
}

@media screen and (max-width: 640px) {
  #skills {
    zoom: 0.75;
  }

  .skills_container {
    zoom: 0.8;
    flex-direction: column;
  }

  .indicator_line {
    width: 400px;
  }

  .indicator_label {
    text-align: left;
  }
}
