@import "./navbar.scss";
@import "./home.scss";
@import "./about.scss";
@import "./contact.scss";
@import "./skills.scss";
@import "./projects.scss";
@import "./career.scss";
@import "./UI.scss";
@import "./single.scss";
@import "../theme/theme.css";

@import url("https://fonts.googleapis.com/css2?family=Dosis:display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu+Condensed&display=swap");

@font-face {
  font-family: 'Cyberpunk';
  src: local('Cyberpunk'), url(../fonts/CyberwayRiders-lg97d.ttf) format('opentype');
}

@font-face {
  font-family: 'Glitch';
  src: local('Glitch'), url(../fonts/GlitchGoblin-2O87v.ttf) format('opentype');
}

@font-face {
  font-family: 'Glitch2';
  src: local('Glitch2'), url(../fonts/Glitchcrafty-lgo4V.ttf) format('opentype');
}

* {
  font-family: var(--Roboto);
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

button {
  outline: none;
  cursor: pointer;
}

image {
  animation-name: none !important;
}
