/* 404 */

.not_found {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/contact-bg.png");
  background-size: cover;
  background-position: center;

  p {
    color: var(--accent-color);
    font-size: 80px;
  }

  button {
    width: 100px;
    height: 40px;
    background: var(--accent-color);
    color: white;
    font-size: 18px;
    font-family: var(--Ubuntu);
    border: none;
    border-radius: 10px;
  }
}

/* Top Button */

.top_button {
  position: fixed;
  top: 85%;
  left: 92%;
  z-index: 999;
}

.top_button button {
  width: 60px;
  height: 60px;
  color: var(--white);
  background: transparent;
  font-size: 30px;
  border: 2px solid var(--accent-color);
  border-radius: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 0%;
    background: var(--accent-color);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    transition: 0.5s;
    border-radius: 50%;
  }

  &:hover {
    &::after {
      width: 120%;
      height: 120%;
    }
  }
}

.top_button button svg {
  width: 30px;
  height: 25px;
  transform: rotate(180deg);
}

/* Page Name */

.page_name {
  width: 290px;
  height: 60px;
  color: white;
  background: var(--accent-color);
  font-size: 24px;
  font-family: var(--Anton);
  letter-spacing: 1.2px;
  text-align: center;
  padding-top: 11px;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  overflow: hidden;
  line-height: 0;

  svg {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;

    path {
      animation: wave 1.5s ease-in-out alternate infinite;

      &:nth-child(2) {
        animation-delay: 0.5s;
      }

      &:nth-child(3) {
        animation-delay: 1s;
      }
    }
  }
}

/*Career Item*/

.career_item {
  width: fit-content;
  display: flex;
  align-items: start;
  justify-content: left;
  margin-bottom: 30px;

  .text_section {
    display: flex;
    flex-direction: column;
    align-items: left;

    p {
      color: var(--light-grey);
      font-size: 24px;
      margin: 0;
      font-weight: 500;
    }

    span {
      font-size: 15px;
      color: var(--light-grey);
    }
  }

  .point {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 3px;
  }

  &::before {
    content: "";
    width: 4.5px;
    height: 55px;
    background: var(--accent-color);
    position: absolute;
    margin-left: 13px;
    margin-top: 30px;
  }

  &.last::before {
    width: 0;
  }
}

@keyframes wave {
  0% {
    transform: translateX(0px) scaleY(1);
  }

  100% {
    transform: translateX(-5%) scaleY(1.1);
  }
}
